<nav class="navbar navbar-dark navbar-expand-lg">

  <div class="container-fluid">

    <!-- Brand -->
    <a href="#" class="navbar-brand">
      <img
        src="https://pbs.twimg.com/profile_images/841709139164246016/fnJon5rf.jpg"
        width="30px"
        height="30px"
        alt="IMGS Icon">
      Shopping & Recipe Book
    </a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler navbar-toggler-icon" data-toggle="collapse"
            data-target="#navbarCollapsibleContent"
            type="button"
            aria-label="Toggle navigation" aria-expanded="false"></button>

    <!-- Navbar Collapsible Content -->
    <div id="navbarCollapsibleContent" class="navbar-collapse collapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link">Recipes</a>
        <a href="#" class="nav-item nav-link">Shopping List</a>
      </div>
      <div class="nav navbar-nav ms-auto dropdown">
        <a href="#" class="nav-item nav-link dropdown-toggle" role="button">Manage</a>
        <div class="dropdown-menu">
          <a href="#" class="nav-item nav-link">Save</a>
          <a href="#" class="nav-item nav-link">Load</a>
        </div>
      </div>
    </div>

  </div>

</nav>
