<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <div class="list-group" *ngFor="let recipe of recipeList">
      <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between">
        <div class="">
          <h4>{{ recipe.name }}</h4>
          <p>{{ recipe.description }}</p>
        </div>
        <div>
          <img src="{{ recipe.imgPath }}" [style]="{maxWidth: '75px'}" alt="Black Burger Img-1">
        </div>
      </a>
    </div>
  </div>
</div>
<hr>

<app-recipe-item></app-recipe-item>
<hr>

